#content_body {
  width: 100%;
  background-color: #f4f4f4;
  padding-bottom: 0px; }
  #content_body #top-info {
    width: 100%;
    border-bottom: 2px solid #F5893F;
    height: 300px;
    position: relative; }
    #content_body #top-info div.wrap-info {
      width: 600px;
      height: 100%;
      margin: auto;
      position: relative; }
      #content_body #top-info div.wrap-info #image-box {
        width: 300px;
        height: 300px;
        position: relative;
        float: left; }
        #content_body #top-info div.wrap-info #image-box div.image {
          height: 225px;
          width: 150px;
          position: absolute;
          bottom: 0;
          right: 0; }
          #content_body #top-info div.wrap-info #image-box div.image img {
            position: absolute;
            max-width: 95%;
            max-height: 95%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto; }
        #content_body #top-info div.wrap-info #image-box div.bg {
          left: 0;
          height: 270px;
          width: 250px;
          z-index: -1; }
      #content_body #top-info div.wrap-info div.text {
        height: 250px;
        width: 250px;
        position: relative;
        display: table;
        top: 25px;
        left: 25px; }
        #content_body #top-info div.wrap-info div.text p {
          display: table-cell;
          text-align: left;
          vertical-align: middle;
          font-size: 18px;
          font-weight: 100;
          padding: 0px; }
          #content_body #top-info div.wrap-info div.text p a {
            text-decoration: none;
            color: #F5893F;
            font-size: 20px; }
          #content_body #top-info div.wrap-info div.text p a:hover {
            color: black; }
  #content_body #press {
    display: none;
    border-bottom: 2px solid #F5893F;
    height: 200px;
    width: 100%;
    position: relative;
    text-align: center; }
    #content_body #press div.press_top {
      height: 70px;
      position: relative;
      float: left;
      width: 100%; }
      #content_body #press div.press_top img {
        display: inline-block;
        height: 50px;
        margin: 10px; }
    #content_body #press div.press_bottom {
      height: 130px;
      width: 100%;
      position: relative;
      float: left; }
      #content_body #press div.press_bottom img {
        display: inline-block;
        height: 110px;
        width: 110px;
        margin: 10px;
        margin-left: 0px;
        margin-right: 0px; }
  #content_body #info {
    display: block;
    width: 900px;
    margin: auto;
    height: auto;
    overflow: auto;
    position: relative; }
    #content_body #info div.info_box {
      width: 300px;
      margin: auto;
      height: auto;
      padding-bottom: 25px;
      position: relative;
      float: left; }
      #content_body #info div.info_box div.content {
        width: 300px;
        height: 100%;
        position: relative;
        margin: auto;
        text-align: center; }
        #content_body #info div.info_box div.content h2 {
          position: relative;
          float: left;
          width: 100%;
          margin: 0;
          padding: 0px;
          margin-top: 10px;
          font-weight: 200;
          color: #404040; }
        #content_body #info div.info_box div.content div.img {
          height: 200px;
          width: 200px;
          margin-left: calc(50% - 100px);
          margin-top: 20px;
          position: relative;
          float: left; }
          #content_body #info div.info_box div.content div.img img {
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto; }
        #content_body #info div.info_box div.content div.text-content {
          height: 250px;
          width: 250px;
          position: relative;
          margin: auto;
          display: table; }
          #content_body #info div.info_box div.content div.text-content p {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 20px;
            font-weight: 100;
            padding: 0px; }
            #content_body #info div.info_box div.content div.text-content p a {
              color: #F5893F;
              text-decoration: none; }
            #content_body #info div.info_box div.content div.text-content p a:hover {
              color: black; }
    #content_body #info div.info_box {
      background-color: #f4f4f4; }
    #content_body #info div.info_box:nth-child(2) {
      background-color: skyblue; }

@media screen and (max-width: 900px) {
  #content_body #info {
    width: 100%; }
    #content_body #info div.info_box {
      overflow: auto;
      width: 100%; }
      #content_body #info div.info_box div.content {
        width: 300px; }
        #content_body #info div.info_box div.content div.img {
          margin-bottom: 0px;
          margin-top: 50px; }
        #content_body #info div.info_box div.content div.text-content {
          margin-top: 0px; } }
@media screen and (max-width: 900px) {
  #content_body #top-info {
    height: 600px; }
    #content_body #top-info div.wrap-info {
      width: 300px;
      height: 600px; } }
