#content_body {
  width: 100%;
  background-color: #f4f4f4;
  padding-bottom: 0px; }
  #content_body #top-info {
    width: 100%;
    border-bottom: 2px solid #F5893F;
    height: 300px;
    position: relative; }
  #content_body #info {
    width: 900px;
    margin: auto;
    height: auto;
    overflow: auto;
    position: relative; }
    #content_body #info div.info_box {
      width: 300px;
      margin: auto;
      height: auto;
      padding-bottom: 25px;
      position: relative;
      float: left; }
      #content_body #info div.info_box div.content {
        width: 300px;
        height: 100%;
        position: relative;
        margin: auto;
        text-align: center; }
        #content_body #info div.info_box div.content div.img {
          height: 200px;
          width: 200px;
          margin-left: calc(50% - 100px);
          margin-top: 20px;
          position: relative;
          float: left; }
          #content_body #info div.info_box div.content div.img img {
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto; }
        #content_body #info div.info_box div.content div.text-content {
          height: 250px;
          width: 250px;
          position: relative;
          float: left;
          margin-left: calc(50% - 125px);
          display: table; }
          #content_body #info div.info_box div.content div.text-content p {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 20px;
            font-weight: 100;
            padding: 0px; }
            #content_body #info div.info_box div.content div.text-content p a {
              color: #F5893F;
              text-decoration: none; }
            #content_body #info div.info_box div.content div.text-content p a:hover {
              color: black; }
    #content_body #info div.info_box:first-of-type {
      background-color: #f4f4f4; }
    #content_body #info div.info_box:nth-child(2) {
      background-color: skyblue; }
    #content_body #info div.info_box:nth-child(3) {
      background-color: #f4f4f4; }

@media screen and (max-width: 900px) {
  #content_body #info {
    width: 100%; }
    #content_body #info div.info_box {
      overflow: auto;
      width: 100%; }
      #content_body #info div.info_box div.content {
        width: 100%; }
        #content_body #info div.info_box div.content div.img {
          margin-bottom: 0px;
          margin-top: 50px; }
        #content_body #info div.info_box div.content div.text-content {
          margin-top: 0px; } }
