h2.title {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: 300;
  font-size: 40px;
  margin-top: 30px;
  color: #F5893F; }

#wrapper_location {
  display: block;
  overflow: hidden;
  width: 1000px;
  height: auto;
  padding-bottom: 50px;
  margin: auto; }
  #wrapper_location a {
    text-decoration: none; }
  #wrapper_location div.store {
    width: 456px;
    height: 456px;
    border: 2px solid #F5893F;
    margin: 20px;
    position: relative;
    float: left; }
    #wrapper_location div.store h3 {
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 100%;
      margin: 0;
      font-weight: 100;
      font-size: 25px;
      color: orange; }
    #wrapper_location div.store div.store_img {
      width: 320px;
      height: 320px;
      margin-left: calc(50% - 160px);
      margin-top: 10px;
      position: relative; }
      #wrapper_location div.store div.store_img img {
        border: 1px solid #F5893F;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        max-height: 90%;
        display: block;
        margin: auto; }
    #wrapper_location div.store p {
      line-height: 25px;
      height: 25px;
      width: 100%;
      text-align: center;
      color: black;
      font-weight: 100;
      margin: 0;
      padding: 0; }

/* Style for Mobile*/
@media screen and (max-width: 1224px) {
  #content_body {
    width: 100%; }
    #content_body #wrapper_location {
      width: 500px; } }
@media screen and (max-width: 510px) {
  #wrapper_location {
    width: 300px; }
    #wrapper_location div.store {
      width: 288px;
      height: 288px;
      margin: 5px;
      position: relative;
      float: left; }
      #wrapper_location div.store h3 {
        height: 30px;
        line-height: 30px;
        font-size: 17px; }
      #wrapper_location div.store div.store_img {
        width: 150px;
        height: 150px;
        margin-left: calc(50% - 75px); }
      #wrapper_location div.store p {
        position: relative;
        float: left;
        height: 15px;
        line-height: 15px;
        font-size: 15px;
        margin-top: 20px;
        width: 90%;
        margin-left: 5%; } }
